.login-layout {
  border: 1px solid;
  width: 23rem;
  padding: 2rem;
  margin: 30px auto;
}
.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-error-msg {
  color: red;
  font-style: italic;
  font-size: small;
}
