.suggested-users-layout {
  border: 1px solid;
  border-radius: 0.6rem;
  margin: 1rem 1rem 0 1rem;
  padding: 0.6rem;
}

.suggested-users {
  list-style: none;
  margin-top: 1rem;
}

.suggested-user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0;
  align-items: center;
}
.suggested-user-follow-btn {
  cursor: pointer;
}
